<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resses.thistym">

<uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/wololo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Launcher">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.resses.thistym.MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Photo" />

        <activity android:name=".QuizOne" />

        <activity android:name=".CongsActivity" />

        <activity android:name=".QuizPage" />

        <activity android:name=".QuizTwo" />

        <activity android:name=".CongsTwoActivity" />

        <activity android:name=".QuizThree" />

        <activity android:name=".Captured" />

        <activity android:name=".Selected"/>
    </application>

</manifest>